*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fuzzy Bubbles', 'sans-serif';
}

.loading{
    text-align: center;
}

.dark{
    background-color: #515151;
    min-height: 100vh;
}

// Navbar

@mixin flex{
    display: flex;
}

.nav-container{
    @include flex;
    background-color: #749F82;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 2.5em;
    color: #FDFAF6;

    .title{
        font-size: 2.3rem;
        color: #483838;
    }

    .generate{
        color: #483838;
        background-color: #FFE9A0;
        font-size: 1rem;
        padding: 0.5em 1.2em;
        border-style: none;
        border-radius: 0.2em;
        cursor: pointer;
        font-weight: 700;
        box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
        transition: all ease 0.3s;
    }

    .generate:active{
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        transform: scale(0.98);
    }

    .search{
        @include flex;

        p{
            font-size: 1.5rem;
            margin-right: 0.1em;
        }

        input{
            padding: 0.2em 0.5em;
        }

    }

    .animaltype{
        color: #483838;
        font-size: 1.3rem;
        margin-right: 0.2em;
    }

}

// Theme Selector

.themeSelector{
    @include flex;
    justify-content: flex-end;
    padding-right: 2.5em;
    padding-top: 0.5em;
}

.color-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 1.5em;
    border-radius: 50%;
}

// Light and Dark Mode

.mode{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

// Card

.titleContainer{
    @include flex;
    padding-top: 0.5em;
    height: 70px;
}

.info{
    padding: 2em 2em 0 2em;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: auto;
    
    .weight{
        margin-bottom: auto;
    }

    .details{
        padding-bottom: 2em;
    }

}

.diet{
    margin-bottom: auto;
}

.backType{
    margin-bottom: 1.1em;
}

.backLife{
    margin-bottom: 1.1em;
}

.location{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

.habitat{
    margin-bottom: 1.1em;
}

.animalName{
    width: 180px;
    margin: auto;
    font-size: 1.5rem;
}

.animalPic{
    height: 250px;
    width: 250px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.none{
    text-align: center;
    margin-top: 0.5em;
}

.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 2.5em 1em 0 1em;
    justify-content: space-around;
}

.animalContainer{
    color: #483838;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
    margin-bottom: 35em;
}
  
.card{
width: 250px;
position: relative;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
background-color: white;
}
  
.front, .back {
position: absolute;
-webkit-backface-visibility: hidden; 
backface-visibility: hidden;
margin-bottom: 2em;
border-radius: 0.5em;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.front{
    background-color: #EAEAEA;
    height: 525px;
}

.back {
    width: 250px;
    background-color: #FFE9A0;
    height: 525px;
    color: #483838;
    transform: rotateY(180deg);
}

@media(max-width: 775px){

    .nav-container{
        flex-direction: column;
    }

    .title{
        margin-bottom: 0.8em;
    }
    
    .generate{
        margin-bottom: 2.2em;
    }

    .themeSelector{
        justify-content: center;
        margin-right: 0em;
    }

    .color-button{
        margin-left: 2em;
    }
   
}